<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ea89281bc3.js" crossorigin="anonymous"></script>

@model IEnumerable<Subject>

<style>
    #tableData {
        width: 100%;
        height: 500px;
    }

    #containerDiv {
        width: 500px;
    }

    @@media screen and(max-width:600px) {

        #containerDiv {
            width: 300px;
        }
    }
</style>


<div style="display:flex;flex-direction:column;">

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Ad</th>
                <th scope="col">Şəkil</th>
                <th scope="col">Guncelle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td><img src="~/Assets/img/@item.Image" style="width:100px;height:100px;" /></td>
                    <td><a asp-controller="subject" asp-action="update" asp-route-id="@item.Id">Guncelle</a></td>
                    <td><a asp-controller="subject" asp-action="delete" asp-route-id="@item.Id">Sil</a></td>
                </tr>

            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-controller="subject" asp-action="create" role="button">Sahə Əlavı Et</a>
</div>

