<div style="width:450px;margin:auto;padding:55px 0px 0px 0px;">

<form method="post" style="width:100%;" asp-controller="account" asp-action="forgetpassword" >
        <div asp-validation-summary="ModelOnly" style="color:red;"></div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input name="email" id="form2Example1" class="form-control" />
        <label>Parolu sıfırla</label>
        <label class="form-label" for="form2Example1">Mail</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Daxil Ol</button>


</form>
</div>
