@model ResetPasswordViewModel


<div style="width:450px;margin:auto;padding:55px 0px 0px 0px;">

    <form method="post" style="width:100%;" asp-controller="account" asp-action="resetpassword">
        <div asp-validation-summary="ModelOnly" style="color:red;"></div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input  asp-for="Token" hidden id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1"></label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input asp-for="Email" hidden id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2"></label>
    </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input asp-for="Password"  id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Yeni Parol</label>
        </div>

        <!-- Password input -->
    <div class="form-outline mb-4">
            <input asp-for="ConfirmPassword"  id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Yeni Parolu Tessdiqleyin</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Daxil Ol</button>


</form>
</div>
