<div style="display:flex;flex-direction:column;">
	<a asp-controller="ChangeWords" asp-action="UpdateHomePage">Ana Səhifə</a>
	<a asp-controller="ChangeWords" asp-action="UpdateSeminarPage">Tədbir Səhifəsi</a>
	<a asp-controller="ChangeWords" asp-action="UpdateBlogWords">Bloq Səhifəsi</a>
	<a asp-controller="ChangeWords" asp-action="UpdateContactPage">Kontakt Səhifəsi</a>
	<a asp-controller="ChangeWords" asp-action="UpdateEventPage">Fəaliyyət Səhifəsi</a>
	<a asp-controller="ChangeWords" asp-action="UpdateLoginPage">Login Səhifəsi</a>
	<a asp-controller="ChangeWords" asp-action="UpdateRegisterPage">Register Səhifəsi</a>

	
</div>